
.bandeau_albums{
    display: flex;
    justify-content: center;
    height: 7rem;
    max-width: 58rem;
    margin-right: 2rem;
    background-color: #2370a0;
    border-radius: 1rem;
}
.bandeau_albums img{
    height: 5rem;
    width: 5rem;
    margin: 1rem;
}
