main .socials{
    width: 100%;
    padding: 3rem;
    text-align: center;
    margin: auto;
    font-size: 4rem;
}
main .socials i{
    background-color: #2370a0;

}

main form{
    background-color: #2370a0;
    max-width: 40rem;

    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;

    padding: 4rem;

    border-radius: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
main form *{
    margin: .3rem;
    margin-left: auto;
    margin-right: auto;
}

main form div i{
}

main form div input{
    width: 20rem;
}

main form div textarea{
    width: 20rem;
    height: 5rem;
}

main form div input[type='checkbox']{
    width: inherit;
}
