
#event{
    display: flex;
    flex-direction: column;
    width: 17rem;
    float: right;
    border-left: .2rem solid #000;
    border-bottom: .2rem solid #000;
    color: #000;
}

#event *:not(i){
    margin: .5rem;
    font-size: .8rem;
    font-family: Lilita One;
}

#event > h1{
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}
#event .card {
    background-color: #000;
    margin: 1rem;
    width: auto;
    text-align: center;
    border: .05rem ridge #fff;
    box-shadow: .3rem .3rem white;
    padding: .5rem
}

#event .card h1{
    font-size: 2rem;
    color: #fff;
}
#event .card i{
    font-size: .8rem
}
#event .card .canceled{
    color: #d00000;
    font-size: 1.8rem;
    padding: inherit;
}
@media screen and (max-width: 850px) {
    #event {
        justify-content: center;
        width: 100%;
        flex-direction: row;
        /* border: .05rem ridge #fff; */
    }
    #event > h1 {
        display: none;
    }
}
