
#event{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    margin-left: 15%;
    margin-right: 15%;
}

#event *:not(i){
    margin: .5rem;
    /* font-size: .8rem; */
    /* font-family: Lilita One; */
}

#event .card {
    width: 17rem;

    text-align: center;

    margin: .7rem;
    margin-top: 1rem;
    padding: .5rem;

    border: .05rem solid #000;
    border-top: .3rem double #000;
    border-bottom: .3rem double #000;
}

#event .card h1{
    /* font-size: 2rem; */
}
#event .card i{
    font-size: .8rem
}
#event .card .canceled{
    color: #d00000;
    font-size: 1.5rem;

    padding: inherit;

    border: .1rem solid #000;
}

#event .done{
    order:1;
    /* display: none; */
    /* align-self: flex-end; */
}

#event .done p{
    text-decoration: line-through;
    text-decoration-thickness: .2rem;
}
