.slides{
    position: relative;
    width: 200%;
    height: 30vw;
    min-height: 15rem;
    max-height: 50rem;

    margin: 0;
    left: 0;

    animation: slider 10s cubic-bezier(.96,-0.4,0,1) infinite;
}
.slides .slide{
    width: 50%;
    height: 100%;

    float: left;
    transition: 2s;

    background-color: var(--secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slides .slide *:not(.socials,.socials *){

    color: var(--primary);
    background-color: var(--secondary);

    border-radius: .4rem;

    z-index: 1;

    border: .3rem double var(--primary);
}
.slides .slide p {
    padding: .5rem;
}
.slides .slide:nth-child(1){
    background-image: url(/static/imgs/slider/1.png);
}
.slides .slide:nth-child(2){
    background-image: url(/static/imgs/slider/2.png);
}
@keyframes slider {
    0% {
        left: 0;
    }
    40%{
        left: 0;
    }
    50%{
        left: -100%;
    }
    90%{
        left: -100%;
    }
}
