.slides{
    position: relative;
    width: calc(100% * var(--nb));
    /* width: 200%; */
    height: 30vw;
    min-height: 15rem;
    max-height: 50rem;

    margin: 0;
    left: 0;

    animation: slider 7s cubic-bezier(1,-0.22,0,1) infinite;
}
.slides .slide{
    width: calc(100% / var(--nb));
    height: 100%;

    float: left;
    transition: 2s;

    background-color: var(--secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slides .slide *:not(.socials,.socials *){

    color: var(--primary);
    background-color: var(--secondary);

    border-radius: .4rem;

    z-index: 1;

    border: .3rem double var(--primary);
}

.slides .slide p {
    padding: .5rem;
}

@keyframes slider-1 {
    0% {
        left: 0;
    }
    50% {
        left: calc(-100% * var(--nb) + 100%)
    }
    100% {
        left: 0;
    }
}
