/* variables */
:root{
    --primary: #eb9109;
    --secondary: rgba(13,36,42,.8);

    --font-family-title: Georgia;
    --font-family-h: Holtwood One SC;
    --font-family-text: Times;

}
/*** Mixins & Default Styles ***/
a{
    text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*** Header Styles ***/

/*** Main ***/

main {
    overflow: auto;
    overflow-x: hidden;

    font-family: var(--font-family-text);
    text-align: center;

    color: #000;
    /* background-color: #f5f2d5; */

    padding-bottom: 3rem;
    /* padding-left: 2rem; */
    min-height: 100%;
}

main *{
    font-size: 1rem;
    color: #000;
}

main h1 {
    font-size: 3rem;
    font-family: Georgia;

    margin-bottom: 3rem;
    margin-top: 3rem;
}
main h2{
    font-size: 1.5rem;
    font-family: var(--font-family-h);

    /* color: #fff;
    background-color: #000; */

    margin: 1.5rem;
    margin-left: 30%;
    margin-right: 30%;

    border-top: .2rem double #000;
    border-bottom: .2rem double #000;
}

main h3 {
    font-size: 1.2rem;
    font-family: var(--font-family-text);
    margin-top: 1rem;
}

main mark{
    background-color: inherit;
    font-size: 1.2rem;
}

main p {
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 1rem;
}
main a {
    color: inherit;
}

main ul {
    padding-left: 1rem;
}
main ul li {
    margin-left: 1rem;
    list-style-type: circle;
}
/* @media screen and (min-width: 800px){
   main{
       margin-top: 90px;
   }
} */

/*** FOOTER ***/

footer{
    text-align: center;
    font-size: 1.5rem;

    /* background-color: #000;
    color: #fff; */

    padding: 1rem;

    border-top: .4rem double #000;
}
footer i{
    font-size: 1.3rem;
}

footer p{
    font-family: var(--font-family-h);
    font-size: .7rem;

    margin-top: .5rem;
}
