

        <!-- messaging -->
<!-- <a href="#" class="socials"> <i class="fas fa-envelope"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-facebook-messenger"></i> </a> -->

        <!-- social -->
<a href="https://www.instagram.com/adrien_quintane/" class="socials"><i class="fab fa-instagram"></i></a>
<!-- <a href="#" class="socials"> <i class="fab fa-facebook-square"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-linkedin"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-twitter-square"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-mastodon"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-google-plus-square"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-pinterest"></i> </a> -->

        <!-- coding -->
<a href="https://github.com/Adrideux" class="socials"><i class="fab fa-github"></i></a>

        <!-- music -->
<a href="https://open.spotify.com/user/adrien.quintane" class="socials"><i class="fab fa-spotify"></i></a>
<!-- <a href="#" class="socials"> <i class="fab fa-deezer"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-soundcloud"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-napster"></i> </a> -->
<!-- <a href="#" class="socials"> <i class="fab fa-itunes"></i></a> -->

		<!-- Teaching -->
<a href="https://www.superprof.fr/saxophoniste-alto-tenor-etudiant-conservatoire-jazz-licence-musicologie-jazz-toulouse.html" class="socials"><i class="fas fa-user-graduate"></i></a>
        <!-- video -->
<a href="https://www.youtube.com/channel/UChxHWo-r9MI1sL7nogF1VoQ" class="socials"> <i class="fab fa-youtube"></i> </a>
<!-- <a href="#"> <i class="fab fa-twitch"></i> </a> -->
