

<!-- <a href="#"> <i class="fab fa-facebook-square"></i> </a> -->
<a href="https://www.instagram.com/adri.qtn/"> <i class="fab fa-instagram"></i> </a>
<!-- <a href="#"> <i class="fab fa-google-plus-square"></i> </a> -->
<!-- <a href="#"> <i class="fab fa-twitter-square"></i> </a> -->
<!-- <a href="#"> <i class="fab fa-linkedin"></i> </a> -->
<!-- <a href="#"> <i class="fas fa-envelope"></i> </a> -->
<!-- <a href="#"> <i class="fab fa-pinterest"></i> </a> -->
<a href="https://www.youtube.com/channel/UChxHWo-r9MI1sL7nogF1VoQ"> <i class="fab fa-youtube"></i> </a>
<a href="https://github.com/Adrideux"> <i class="fab fa-github"></i> </a>
<a href="https://open.spotify.com/user/adrien.quintane"> <i class="fab fa-spotify"></i> </a>
<!-- <a href="#"> <i class="fab fa-soundcloud"></i> </a> -->
<!-- <a href="#"> <i class="fab fa-twitch"></i> </a> -->
<!-- <a href="#"> <i class="fab fa-napster"></i> </a> -->
<!-- <a href="#"> <i class="fab fa-itunes"></i></a> -->
<!-- <a href="#"> <i class="fab fa-facebook-messenger"></i> </a> -->
